.load-more--button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: white;
	border-radius: 25px;
	outline: none;
	font-size: 10px;
	margin-top: 20px;
}

.load-more--button:hover {
	background-color: #00b2b2;
}

.load-more--icon {
	font-size: 24px;
	font-weight: 300;
}
